html, body {
  background-color: #f4f4f4;
  font-family: "Helvetica Neue", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, sans-serif;
  font-weight: 400;
  color: #242424;
}

a {
  text-decoration: none;
  color: inherit;
}
