<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags(default_meta_tags) %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9884878724954339",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
